{
  "openapi": "3.0.1",
  "info": {
    "title": "Customer Management",
    "description": "Customer Management，include: client profile、process setting、client service、question、client location、asset management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://meshdev.smsassist.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/process/advanced-report/in-house-affiliate": {
      "put": {
        "tags": [
          "advanced-reporting-controller"
        ],
        "summary": "Update client in house affiliate",
        "description": "<p><b>Feature</b></p> <p>Update client in house affiliate</p>",
        "operationId": "advancedreporting_updateReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/advanced-report/{clientId}/{reportType}": {
      "get": {
        "tags": [
          "advanced-reporting-controller"
        ],
        "summary": "Get basis accounting type",
        "description": "<p><b>Feature</b></p> <p>Get basis accounting type</p>",
        "operationId": "advancedreporting_get",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAdvancedReportingDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/advanced-report": {
      "put": {
        "tags": [
          "advanced-reporting-controller"
        ],
        "summary": "Update basis accounting type",
        "description": "<p><b>Feature</b></p> <p>Update basis accounting type</p>",
        "operationId": "advancedreporting_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdvancedReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/callCategorys/businessUnit": {
      "get": {
        "tags": [
          "call-category-controller"
        ],
        "summary": "Get client call category businessUnit list by client id.",
        "description": "<p><b>Feature</b></p> <p>Get client call category businessUnit list by client id.</p>",
        "operationId": "callcategory_getcallcategorybusinessunit",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCallCategoryBusinessUnitListDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/callCategorys": {
      "get": {
        "tags": [
          "call-category-controller"
        ],
        "summary": "Get client call category list by client id.",
        "description": "<p><b>Feature</b></p> <p>Get client call category list by client id.</p>",
        "operationId": "callcategory_get",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCallCategoryListDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/callCategory": {
      "put": {
        "tags": [
          "call-category-controller"
        ],
        "summary": "Update client call category by client id.",
        "description": "<p><b>Feature</b></p> <p>Update client call category by client id.</p>",
        "operationId": "callcategory_update",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/callerPosition/{clientId}": {
      "get": {
        "tags": [
          "client-caller-position-controller"
        ],
        "summary": "Query client caller position list",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Query client caller position list</p>",
        "operationId": "clientcallerposition_get",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseQueryClientCallerPositionDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "client-caller-position-controller"
        ],
        "summary": "Update client caller position",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update client caller position</p>",
        "operationId": "clientcallerposition_update",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCallerPositionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/communication/{clientId}": {
      "put": {
        "tags": [
          "client-communication-controller"
        ],
        "summary": "Update client role communication",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update client role communication</p>",
        "operationId": "clientcommunication_update",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCommunicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/isExist": {
      "get": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Verify that the client exists.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Verify that the client exists.</p>",
        "operationId": "clientdetail_isexist",
        "parameters": [
          {
            "name": "name"
          },
          {
            "name": "clientCode"
          },
          {
            "name": "email",
            "description": "email"
          },
          {
            "name": "phone"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCheckClientDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clients": {
      "get": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Get client list by condition.",
        "description": "<p><b>Feature</b></p> <p>Get client list by condition.</p>",
        "operationId": "clientdetail_getpage",
        "parameters": [
          {
            "name": "isAdvanceSearch",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "name"
          },
          {
            "name": "state"
          },
          {
            "name": "city"
          },
          {
            "name": "customerTypeId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy"
          },
          {
            "name": "asc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePageClientDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{id}": {
      "get": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Get client by client id.",
        "description": "<p><b>Feature</b></p> <p>Get client by client id.</p>",
        "operationId": "clientdetail_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Delete client by id",
        "description": "<p><b>Path</b></p><p>Eolinker test using</p><p><b>Feature</b></p> <p>Delete client by id</p>",
        "operationId": "clientdetail_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client": {
      "put": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Update client.",
        "description": "<p><b>Feature</b></p> <p>Update client.</p>",
        "operationId": "clientdetail_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "client-detail-controller"
        ],
        "summary": "Create client.",
        "description": "<p><b>Feature</b></p> <p>Create client.</p>",
        "operationId": "clientdetail_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/fiscal-year/{clientId}": {
      "get": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Query client fiscal year list by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Query client fiscal year list by client id.</p>",
        "operationId": "clientfiscal_getfiscalyearlist",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientFiscalYearListDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Create client fiscal year.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Create client fiscal year.</p>",
        "operationId": "clientfiscal_insertfiscalyear",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientFiscalYearDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/fiscal-month/{clientId}": {
      "get": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Query client fiscal month list by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Query client fiscal month list by client id.</p>",
        "operationId": "clientfiscal_getfiscalmonthlist",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientFiscalMonthListDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Create client fiscal month.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Create client fiscal month.</p>",
        "operationId": "clientfiscal_insertfiscalmonth",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientFiscalMonthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/fiscal-month/{id}": {
      "delete": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Delete client fiscal month by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Delete client fiscal month by id.</p>",
        "operationId": "clientfiscal_deletefiscalmonth",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currentUserId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/fiscal-year/{id}": {
      "delete": {
        "tags": [
          "client-fiscal-controller"
        ],
        "summary": "Delete client fiscal year by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Delete client fiscal year by id.</p>",
        "operationId": "clientfiscal_deletefiscalyear",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currentUserId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/issuesReasons/{clientId}": {
      "get": {
        "tags": [
          "client-issues-reason-controller"
        ],
        "summary": "Get client issues reason by client id.",
        "description": "<p><b>Feature</b></p> <p>Get client issues reason by client id.</p>",
        "operationId": "clientissuesreason_getbyclient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientIssuesReasonListDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "client-issues-reason-controller"
        ],
        "summary": "Update client issues reason by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update client issues reason by client id.</p>",
        "operationId": "clientissuesreason_update",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientIssuesReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "client-issues-reason-controller"
        ],
        "summary": "Create client issues reason by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Create client issues reason by client id.</p>",
        "operationId": "clientissuesreason_insert",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddClientIssuesReasonDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/issuesReasons/{clientId}/{id}": {
      "delete": {
        "tags": [
          "client-issues-reason-controller"
        ],
        "summary": "Delete client issues reason by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Delete client issues reason by id.</p>",
        "operationId": "clientissuesreason_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/launchedMarket/{id}": {
      "get": {
        "tags": [
          "client-launched-market-controller"
        ],
        "summary": "Get clientLaunchedMarket by id.",
        "description": "<p><b>Feature</b></p> <p>Get clientLaunchedMarket by id.</p>",
        "operationId": "clientlaunchedmarket_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientLaunchedMarketDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/confirmation-email": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client confirmation email setting.",
        "description": "<p><b>Feature</b></p> <p>Update client confirmation email setting.</p>",
        "operationId": "clientprocess_updateconfirmationemail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfirmationEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/client-portal": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client portal setting.",
        "description": "<p><b>Feature</b></p> <p>Update client portal setting.</p>",
        "operationId": "clientprocess_updateclientportal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientPortalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/config-due-date": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client config due date setting.",
        "description": "<p><b>Feature</b></p> <p>Update client config due date setting.</p>",
        "operationId": "clientprocess_updateconfigduedate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigDueDateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/allow-edit-refer-wo": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client allow edit refer wo setting.",
        "description": "<p><b>Feature</b></p> <p>Update client allow edit refer wo setting.</p>",
        "operationId": "clientprocess_updatealloweditreferwo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllowEditReferWoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/enable-priority": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client enable priority setting.",
        "description": "<p><b>Feature</b></p> <p>Update client enable priority setting.</p>",
        "operationId": "clientprocess_updateenablepriority",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnablePriorityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/enable-under-warranty": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client under warranty setting.",
        "description": "<p><b>Feature</b></p> <p>Update client under warranty setting.</p>",
        "operationId": "clientprocess_updateenableunderwarranty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnableUnderWarrantyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/client/pcda": {
      "put": {
        "tags": [
          "client-process-controller"
        ],
        "summary": "Update client PCDA package",
        "description": "<p><b>Feature</b></p> <p>Update client PCDA package</p>",
        "operationId": "clientprocess_updatepcda",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePcdaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/temperature-priority/isEnable": {
      "put": {
        "tags": [
          "client-temperature-priority-controller"
        ],
        "summary": "Update client is enable temperature priority.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update client is enable temperature priority.</p>",
        "operationId": "clienttemperaturepriority_updateisenable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientIsEnableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/temperature-priority/{clientId}": {
      "get": {
        "tags": [
          "client-temperature-priority-controller"
        ],
        "summary": "Query client temperature priority by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Query client temperature priority by client id.</p>",
        "operationId": "clienttemperaturepriority_get",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientTemperaturePriorityDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/temperature-priority": {
      "put": {
        "tags": [
          "client-temperature-priority-controller"
        ],
        "summary": "Update client temperature priority.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update client temperature priority.</p>",
        "operationId": "clienttemperaturepriority_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientTemperaturePriorityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "client-temperature-priority-controller"
        ],
        "summary": "Create client temperature priority.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Create client temperature priority.</p>",
        "operationId": "clienttemperaturepriority_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientTemperaturePriorityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientTemperaturePriorityConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/temperature-priority/{id}": {
      "delete": {
        "tags": [
          "client-temperature-priority-controller"
        ],
        "summary": "Delete Client temperature priority by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Delete Client temperature priority by id.</p>",
        "operationId": "clienttemperaturepriority_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "priorityId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currentUserId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/dispatch-script": {
      "get": {
        "tags": [
          "dispatch-script-controller"
        ],
        "summary": "Get dispatch script",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Dispatch Script</p><p><b>Feature</b></p> <p>Get dispatch script</p>",
        "operationId": "dispatchscript_get",
        "parameters": [
          {
            "name": "serviceCategoryId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceTypeId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceCodeId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dispatchScript"
          },
          {
            "name": "clientId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientDispatchScriptDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "dispatch-script-controller"
        ],
        "summary": "Update dispatch script",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Dispatch Script</p><p><b>Feature</b></p> <p>Update dispatch script</p>",
        "operationId": "dispatchscript_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDispatchScriptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "dispatch-script-controller"
        ],
        "summary": "Create dispatch script",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Dispatch Script</p><p><b>Feature</b></p> <p>Create dispatch script</p>",
        "operationId": "dispatchscript_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDispatchScriptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/hours": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice hours setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice hours setting.</p>",
        "operationId": "invoiceprocess_updateinvoicehours",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceHoursRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/in-house-affiliate": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice in house affiliate setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice in house affiliate setting.</p>",
        "operationId": "invoiceprocess_updateinvoiceinhouseaffiliate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceInHouseAffiliateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/in-house-service-fee": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice service fee setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice service fee setting.</p>",
        "operationId": "invoiceprocess_updateinvoiceservicefee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceServiceFeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/in-house-service-fee-taxable": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice service fee taxable setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice service fee taxable setting.</p>",
        "operationId": "invoiceprocess_updateinvoiceservicefeetaxable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceServiceFeeTaxableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/pass-through": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice pass through setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice pass through setting.</p>",
        "operationId": "invoiceprocess_updateinvoicepassthrough",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoicePassThroughRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/pass-through-service-fee": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice pass through fee setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice pass through fee setting.</p>",
        "operationId": "invoiceprocess_updateinvoicepassthroughfee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoicePassThroughFeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice/pass-through-service-fee-taxable": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice pass through service fee taxable setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice pass through service fee taxable setting.</p>",
        "operationId": "invoiceprocess_updatepassthroughservicefeetaxable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePassThroughServiceFeeTaxableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/invoice": {
      "put": {
        "tags": [
          "invoice-process-controller"
        ],
        "summary": "Update client invoice setting.",
        "description": "<p><b>Feature</b></p> <p>Update client invoice setting.</p>",
        "operationId": "invoiceprocess_updateinvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/kpi-reactive": {
      "delete": {
        "tags": [
          "kpi-controller"
        ],
        "summary": "Delete client reactive kpi.",
        "description": "<p><b>Feature</b></p> <p>Delete client reactive kpi.</p>",
        "operationId": "kpi_deletereactivekpi",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "serviceCategoryId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kpiId",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/kpi-recurrent": {
      "delete": {
        "tags": [
          "kpi-controller"
        ],
        "summary": "Delete client recurrent kpi.",
        "description": "<p><b>Feature</b></p> <p>Delete client recurrent kpi.</p>",
        "operationId": "kpi_deleterecurrentkpi",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "serviceCategoryId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kpiId",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/{clientId}/kpi": {
      "put": {
        "tags": [
          "kpi-controller"
        ],
        "summary": "Update client kpi.",
        "description": "<p><b>Feature</b></p> <p>Update client kpi.</p>",
        "operationId": "kpi_update",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KpiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/attributes/{locationId}": {
      "get": {
        "tags": [
          "location-attribute-controller"
        ],
        "summary": "Get locationAttribute by location id.",
        "description": "<p><b>Feature</b></p> <p>Get locationAttribute by location id.</p>",
        "operationId": "locationattribute_getbylocationid",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationAttributesDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/attribute/{id}": {
      "get": {
        "tags": [
          "location-attribute-controller"
        ],
        "summary": "Get locationAttribute by id.",
        "description": "<p><b>Feature</b></p> <p>Get locationAttribute by id.</p>",
        "operationId": "locationattribute_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationAttributeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/attribute": {
      "put": {
        "tags": [
          "location-attribute-controller"
        ],
        "summary": "insert or update locationAttribute.",
        "description": "<p><b>Feature</b></p> <p>insert or update locationAttribute.</p>",
        "operationId": "locationattribute_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationAttributeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/locations/page": {
      "get": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "Get location page by condition.",
        "description": "<p><b>Feature</b></p> <p>Get location page by condition.</p>",
        "operationId": "locationdetail_getpage",
        "parameters": [
          {
            "name": "address"
          },
          {
            "name": "state"
          },
          {
            "name": "city"
          },
          {
            "name": "smsNumber"
          },
          {
            "name": "clientId"
          },
          {
            "name": "districts",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "regions",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIPageLocationPageDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/info/{id}": {
      "get": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "Get location info by id.",
        "description": "<p><b>Feature</b></p> <p>Get location info by id.</p>",
        "operationId": "locationdetail_getlocationinfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationInfoDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/locations": {
      "get": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "Get location list by condition.",
        "description": "<p><b>Feature</b></p> <p>Get location list by condition.</p>",
        "operationId": "locationdetail_getlocationlist",
        "parameters": [
          {
            "name": "address"
          },
          {
            "name": "locationNumber"
          },
          {
            "name": "zipCode"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientLocationListDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/customerType/{locationId}": {
      "get": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "get customerTypeId by location id.",
        "description": "<p><b>Feature</b></p> <p>get customerTypeId by location id.</p>",
        "operationId": "locationdetail_getcustomertypeidbylocationid",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseInteger"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/{id}": {
      "get": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "Get location by location id.",
        "description": "<p><b>Feature</b></p> <p>Get location by location id.</p>",
        "operationId": "locationdetail_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseClientLocationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location": {
      "put": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "Update location by location id.",
        "description": "<p><b>Feature</b></p> <p>Update location by location id.</p>",
        "operationId": "locationdetail_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "location-detail-controller"
        ],
        "summary": "create location.",
        "description": "<p><b>Feature</b></p> <p>create location.</p>",
        "operationId": "locationdetail_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateLocationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/landlord/page": {
      "get": {
        "tags": [
          "location-landlord-controller"
        ],
        "summary": "Get locationLandlordList by condition.",
        "description": "<p><b>Feature</b></p> <p>Get locationLandlordList by condition.</p>",
        "operationId": "locationlandlord_getlocationlandlordpage",
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy"
          },
          {
            "name": "asc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePageLocationLandlordPageDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/landlord/{id}": {
      "get": {
        "tags": [
          "location-landlord-controller"
        ],
        "summary": "Query locationLandlord by id.",
        "description": "<p><b>Feature</b></p> <p>Query locationLandlord by id.</p>",
        "operationId": "locationlandlord_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationLandlordDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "location-landlord-controller"
        ],
        "summary": "Delete locationLandlord by id.",
        "description": "<p><b>Feature</b></p> <p>Delete locationLandlord by id.</p>",
        "operationId": "locationlandlord_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/landlord": {
      "put": {
        "tags": [
          "location-landlord-controller"
        ],
        "summary": "Update locationLandlord.",
        "description": "<p><b>Feature</b></p> <p>Update locationLandlord.</p>",
        "operationId": "locationLandlord_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationLandlordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "location-landlord-controller"
        ],
        "summary": "locationLandlord.",
        "description": "<p><b>Feature</b></p> <p>Create locationLandlord.</p>",
        "operationId": "locationlandlord_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationLandlordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/manager": {
      "put": {
        "tags": [
          "location-manager-controller"
        ],
        "summary": "Update locationManager.",
        "description": "<p><b>Feature</b></p> <p>Update locationManager.</p>",
        "operationId": "locationmanager_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationManagerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/mir/info/{locationId}": {
      "get": {
        "tags": [
          "location-mir-controller"
        ],
        "summary": "Get locationMir by location id.",
        "description": "<p><b>Feature</b></p> <p>Get locationMir by location id.</p>",
        "operationId": "locationmir_getbylocationid",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationMirDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/mir": {
      "post": {
        "tags": [
          "location-mir-controller"
        ],
        "summary": "insert or update locationMir.",
        "description": "<p><b>Feature</b></p> <p>insert or update locationMir.</p>",
        "operationId": "locationmir_insertorupdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertOrUpdateLocationMirRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseInteger"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/mir/{id}": {
      "get": {
        "tags": [
          "location-mir-controller"
        ],
        "summary": "Get locationMir by  id.",
        "description": "<p><b>Feature</b></p> <p>Get LocationMir by id.</p>",
        "operationId": "locationmir_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationMirDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/monthlyBudget/{id}": {
      "get": {
        "tags": [
          "location-monthly-budget-controller"
        ],
        "summary": "Get locationMonthlyBudget by client id.",
        "description": "<p><b>Feature</b></p> <p>Get locationMonthlyBudget by id.</p>",
        "operationId": "locationmonthlybudget_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationMonthlyBudgetDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/residential/{id}": {
      "get": {
        "tags": [
          "location-residential-controller"
        ],
        "summary": "Get locationResidential by id.",
        "description": "<p><b>Feature</b></p> <p>Get locationResidential by id.</p>",
        "operationId": "locationresidential_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLocationResidentialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/residential": {
      "put": {
        "tags": [
          "location-residential-controller"
        ],
        "summary": "Update locationResidential..",
        "description": "<p><b>Feature</b></p> <p>Update locationResidential.</p>",
        "operationId": "locationresidential_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationResidentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseInteger"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "location-residential-controller"
        ],
        "summary": "Create locationResidential..",
        "description": "<p><b>Feature</b></p> <p>Create locationResidential.</p>",
        "operationId": "locationresidential_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationResidentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/residential/{id}/{currentUserId}": {
      "delete": {
        "tags": [
          "location-residential-controller"
        ],
        "summary": "Delete locationResidential by id.",
        "description": "<p><b>Feature</b></p> <p>Delete locationResidential by id.</p>",
        "operationId": "locationresidential_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currentUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseInteger"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/location/type/list/{locationId}": {
      "get": {
        "tags": [
          "location-type-controller"
        ],
        "summary": "Get all locationTypeList by location id.",
        "description": "<p><b>Feature</b></p> <p>Get locationTypeList by location id.</p>",
        "operationId": "locationtype_getlocationtypelistbylocationid",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListLocationTypeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/check-in-mileage-designation/{clientId}": {
      "get": {
        "tags": [
          "mileage-config-controller"
        ],
        "summary": "Get check in mileage designation by client id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Get check in mileage designation by client id.</p>",
        "operationId": "mileageconfig_getbyclient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCheckinMileageConfigListDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/check-in-mileage-designation/{id}": {
      "put": {
        "tags": [
          "mileage-config-controller"
        ],
        "summary": "Update check in mileage designation by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Update check in mileage designation by id.</p>",
        "operationId": "mileageconfig_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCheckinMileageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "mileage-config-controller"
        ],
        "summary": "Delete check in mileage designation by id.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Delete check in mileage designation by id.</p>",
        "operationId": "mileageconfig_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/client/check-in-mileage-designation": {
      "post": {
        "tags": [
          "mileage-config-controller"
        ],
        "summary": "Create client check in mileage designation.",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Details</p><p><b>Feature</b></p> <p>Create client check in mileage designation.</p>",
        "operationId": "mileageconfig_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCheckinMileageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCheckinMileageDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/photo-label/{clientId}/{type}": {
      "get": {
        "tags": [
          "photo-label-controller"
        ],
        "summary": "Get photo label list for select",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Photo Label</p><p><b>Feature</b></p> <p>Management of photo label in client info detail</p>",
        "operationId": "photolabel_getselect",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePhotoLabelsSelectListDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/process/photo-label": {
      "get": {
        "tags": [
          "photo-label-controller"
        ],
        "summary": "Get selected photo labels",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Photo Label</p><p><b>Feature</b></p> <p>Management of photo label in client info detail</p>",
        "operationId": "photolabel_get",
        "parameters": [
          {
            "name": "labelName"
          },
          {
            "name": "typeId",
            "description": "1:Check-in;2:Check-out;3:Before-service;4:After-service",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "clientId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceCategoryId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceTypeId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceCodeId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "isActive",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isMandatory",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePhotoLabelsDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "photo-label-controller"
        ],
        "summary": "Update photo labels status setting",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Photo Label</p><p><b>Feature</b></p> <p>Update photo labels status setting</p>",
        "operationId": "photolabel_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePhotoLabelStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "photo-label-controller"
        ],
        "summary": "Insert photo label config",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Photo Label</p><p><b>Feature</b></p> <p>Insert photo label config</p>",
        "operationId": "photolabel_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhotoLabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/swapRank": {
      "put": {
        "tags": [
          "question-controller"
        ],
        "summary": "Update question rank",
        "description": "<p><b>Feature</b></p> <p>Update question rank</p>",
        "operationId": "question_updaterank",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRankRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/option": {
      "put": {
        "tags": [
          "question-controller"
        ],
        "summary": "Update question option",
        "description": "<p><b>Feature</b></p> <p>Update question option</p>",
        "operationId": "question_updateoption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionOptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "question-controller"
        ],
        "summary": "Insert question option",
        "description": "<p><b>Feature</b></p> <p>Insert question option</p>",
        "operationId": "question_insertoption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionOptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdNameDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/{questionId}/{optionId}": {
      "delete": {
        "tags": [
          "question-controller"
        ],
        "summary": "Delete question option",
        "description": "<p><b>Feature</b></p> <p>Delete question option</p>",
        "operationId": "question_deleteoption",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refType",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currentUserId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/rules": {
      "put": {
        "tags": [
          "question-controller"
        ],
        "summary": "Update question rules",
        "description": "<p><b>Feature</b></p> <p>Update question rules</p>",
        "operationId": "question_updaterules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionRulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/question-feel-likes/{clientId}/{roleName}": {
      "get": {
        "tags": [
          "question-controller"
        ],
        "summary": "Get question and feels like",
        "description": "<p><b>Feature</b></p> <p>Get question and feels like</p>",
        "operationId": "question_getquestionandfeelslike",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseQueryQuestionAndFeelsLikeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/{questionId}": {
      "get": {
        "tags": [
          "question-controller"
        ],
        "summary": "Get question by id",
        "description": "<p><b>Feature</b></p> <p>Get question by id</p>",
        "operationId": "question_getbyid",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseQuestion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "question-controller"
        ],
        "summary": "Delete question",
        "description": "<p><b>Feature</b></p> <p>Delete question</p>",
        "operationId": "question_delete",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refType",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currentUserId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/copy": {
      "post": {
        "tags": [
          "question-controller"
        ],
        "summary": "Copy question",
        "description": "<p><b>Feature</b></p> <p>Copy question.</p>",
        "operationId": "question_copyquestion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStringIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question/multi-option": {
      "post": {
        "tags": [
          "question-controller"
        ],
        "summary": "Insert multi question option",
        "description": "<p><b>Feature</b></p> <p>Insert multi question option</p>",
        "operationId": "question_insertmultioption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionMultiOptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListIdNameDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/question": {
      "get": {
        "tags": [
          "question-controller"
        ],
        "summary": "Get question",
        "description": "<p><b>Feature</b></p> <p>Get question</p>",
        "operationId": "question_get",
        "parameters": [
          {
            "name": "clientId",
            "required": true
          },
          {
            "name": "type",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "serviceCode",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseQuestionListDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "question-controller"
        ],
        "summary": "Update question",
        "description": "<p><b>Feature</b></p> <p>Update question</p>",
        "operationId": "question_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "question-controller"
        ],
        "summary": "Insert question",
        "description": "<p><b>Feature</b></p> <p>Insert question</p>",
        "operationId": "question_insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIdNameDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/service-category": {
      "get": {
        "tags": [
          "service-detail-controller"
        ],
        "summary": "Query client service category detail.",
        "operationId": "servicedetail_getclientservicecategory",
        "parameters": [
          {
            "name": "clientId",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "serviceCategoryId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "isHidden",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy"
          },
          {
            "name": "asc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePageClientServiceCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service": {
      "put": {
        "tags": [
          "service-detail-controller"
        ],
        "summary": "Update client service detail.",
        "description": "<p><b>Feature</b></p> <p>Update client service detail.</p>",
        "operationId": "servicedetail_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/nte/isEnableChargeBack/{clientId}/{serviceCodeId}": {
      "get": {
        "tags": [
          "service-nte-controller"
        ],
        "summary": "Get client service code isEnableChargeBack",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Service Code NTE</p><p><b>Feature</b></p> <p>Get client service code isEnableChargeBack</p>",
        "operationId": "servicente_getisenablechargeback",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "serviceCodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseServiceNteIsEnableDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service/nte/isEnableChargeBack": {
      "put": {
        "tags": [
          "service-nte-controller"
        ],
        "summary": "Activate or inactivate chanrgeback flag for service combination in client info detail",
        "description": "<p><b>Path</b></p><p>Internal Portal -> Client Info -> Detail -> Service Code NTE -> Activate Chargeback</p><p><b>Feature</b></p> <p>Activate or inactivate chanrgeback flag for service combination in client info detail</p>",
        "operationId": "servicente_updateisenablechargeback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIsEnableChargeBackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "default response",
            "content": {
              "*/*": {
                "schema": {
[...]
