{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Moon.Web.Client"
  },
  "host": "client-onedev.smsassist.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ABModule/HasABModulePermissionByLocation": {
      "post": {
        "tags": [
          "ABModule"
        ],
        "summary": "Has ABModule permission by location",
        "operationId": "ABModule_HasABModulePermissionByLocation",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "locationId",
            "in": "body",
            "description": "locationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abModule",
            "in": "body",
            "description": "abModule",
            "required": true,
            "schema": {
              "format": "int32",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                15,
                16,
                18,
                19,
                20,
                21,
                22,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                35,
                36,
                38,
                39,
                42,
                43,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                55,
                56,
                57,
                59,
                60,
                61,
                62,
                63
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Account/RedirectReportPortal": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_RedirectReportPortal",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/Login": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_Login",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "returnUrl",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/LoginCss": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Login Css",
        "operationId": "Account_LoginCss",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.Client.Models.LoginCSSModel"
            }
          }
        }
      }
    },
    "/Account/LoginSSO": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "LoginSSO",
        "operationId": "Account_LoginSSO",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/RWLogin": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_RWLogin",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/OneSingleSignOn": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "One Single Sign On",
        "operationId": "Account_OneSingleSignOn",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/CheckLogin": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CheckLogin",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "returnUrl",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/JpmcSSOFailed": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_JpmcSSOFailed",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/JpmcNoneFLUser": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_JpmcNoneFLUser",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/JpmcSSOInvalidLocation": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_JpmcSSOInvalidLocation",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/JpmcAppSSOSuccess": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_JpmcAppSSOSuccess",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/ServiceMeshToken": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ServiceMeshToken",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.String]"
            }
          }
        }
      }
    },
    "/Account/TokenLogin": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Token Login",
        "operationId": "Account_TokenLogin",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "utcOffSet",
            "in": "query",
            "description": "utcOffSet",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isSupportDST",
            "in": "query",
            "description": "isSupportDST",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "returnUrl",
            "in": "query",
            "description": "returnUrl",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Infrastructure.ActionResultViewModel"
            }
          }
        }
      }
    },
    "/Account/CheckExistEmail": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CheckExistEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/LogOff": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "LogOff",
        "operationId": "Account_LogOff",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/CheckUpdateUserEmail": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CheckUpdateUserEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateUserEmail",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/ForgotPwd": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ForgotPwd",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "resetUserNamePwd",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/ResetPwd": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Reset Pwd",
        "operationId": "Account_ResetPwd",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.ViewModels.ResetPasswordViewModel"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ResetPwd",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/ResetPasswordConfirmation": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ResetPasswordConfirmation",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/MyEmail": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_MyEmail",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/Dump": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_Dump",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/MyProfile": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "My profile",
        "operationId": "Account_MyProfile",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.Client.Models.UserProfileModel"
            }
          }
        }
      }
    },
    "/Account/MyProfileForInteractionLog": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "My profile for interaction log",
        "operationId": "Account_MyProfileForInteractionLog",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.Client.Models.ProfileForInteractionLogModel"
            }
          }
        }
      }
    },
    "/Account/MyLogo": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_MyLogo",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/UpdateProfile": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_UpdateProfile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "phone",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneExt",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logo",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isReceiveEmail",
            "in": "body",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isReceiveSMSAlert",
            "in": "body",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cellPhone",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/UserProfile": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "User Profile",
        "operationId": "Account_UserProfile",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/ExportRequests": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ExportRequests",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/UpdatePassword": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_UpdatePassword",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "oldPassword",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newPassword",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/UpdatePasswordByFirst": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_UpdatePasswordByFirst",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "newPassword",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/IsPasswordChange": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_IsPasswordChange",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/CancelCreateNewPassword": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CancelCreateNewPassword",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/CheckPwd": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CheckPwd",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "oldPassword",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logo",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/GetOnlineUsers": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get online users",
        "operationId": "Account_GetOnlineUsers",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userIds",
            "in": "body",
            "description": "userIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/M2.Entity.UserOnlineModel"
              }
            }
          }
        }
      }
    },
    "/Account/IsUserTermsAccepted": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Is user terms accepted",
        "operationId": "Account_IsUserTermsAccepted",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.Client.Models.UserTerms"
            }
          }
        }
      }
    },
    "/Account/GetUnAcceptedUserTerms": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetUnAcceptedUserTerms",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/AcceptTerms": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_AcceptTerms",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task"
            }
          }
        }
      }
    },
    "/Account/ExternLoginKey": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ExternLoginKey",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "expires",
            "in": "body",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/Login2": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_Login2",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/GetTextMessageDisplay": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetTextMessageDisplay",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/GetTipLog": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetTipLog",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/GetCoverUserDataList": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetCoverUserDataList",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/CreateUserCover": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CreateUserCover",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.UserCoverEntity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.String]"
            }
          }
        }
      }
    },
    "/Account/CreateUserCoverForYou": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CreateUserCoverForYou",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.String]"
            }
          }
        }
      }
    },
    "/Account/DeleteUserCover": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_DeleteUserCover",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task"
            }
          }
        }
      }
    },
    "/Account/UpdateUserCover": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_UpdateUserCover",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userCoverEntity",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.UserCoverEntity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task"
            }
          }
        }
      }
    },
    "/Account/GetUserCover": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetUserCover",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userCoverQueryModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.UserCoverQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/GetMenuAllData": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get menu all data",
        "operationId": "Account_GetMenuAllData",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userCoverQueryModel",
            "in": "body",
            "description": "userCoverQueryModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.UserCoverQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Moon.Web.Client.Models.CoverUserModel"
            }
          }
        }
      }
    },
    "/Account/CoverSignInAsync": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CoverSignInAsync",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "coverUserId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task"
            }
          }
        }
      }
    },
    "/Account/CancelCoverSignInAsync": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_CancelCoverSignInAsync",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task"
            }
          }
        }
      }
    },
    "/Account/GetClientPhone": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get client phone",
        "operationId": "Account_GetClientPhone",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Account/GetUserNewFeatureTips": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get user new feature tips",
        "operationId": "Account_GetUserNewFeatureTips",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "code",
            "in": "body",
            "description": "code",
            "required": true,
            "schema": {
              "format": "int32",
              "enum": [
                100
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Account/Reset": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_Reset",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "returnUrl",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/UserLogin": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_UserLogin",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Moon.Web.ViewModels.LoginViewModel"
            }
          },
          {
            "name": "returnUrl",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/Account/ResetPwdEmail": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ResetPwdEmail",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/Account/ChangePassword": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_ChangePassword",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/PropertyManagerList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_PropertyManagerList",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AllWoType": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AllWoType",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AllServiceCategory": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AllServiceCategory",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AllInHouseServiceRegion": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AllInHouseServiceRegion",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AllOwnership": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AllOwnership",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/KeyPerformanceIndicators": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_KeyPerformanceIndicators",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetKpi": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetKpi",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.Module.Report.Client.FinancialOverviewQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetServiceCategoryKpis": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetServiceCategoryKpis",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.Module.Report.Client.FinancialOverviewQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportWoListExcel": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportWoListExcel",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ReactiveWoQueryModel"
            }
          },
          {
            "name": "serviceCategoryId",
            "in": "body",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/OpenWOStatusAging": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_OpenWOStatusAging",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetTableauToken": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetTableauToken",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "name",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.String]"
            }
          }
        }
      }
    },
    "/AdvancedReport/TableauTestView": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "summary": "Tableau Test View",
        "operationId": "AdvancedReport_TableauTestView",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "viewPath",
            "in": "body",
            "description": "viewPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetAllListDatas": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetAllListDatas",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetOpenWOStatusAging": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetOpenWOStatusAging",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ReactiveWoOpenStatusAgingQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AllServiceGroup": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AllServiceGroup",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetDistrictKpis": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetDistrictKpis",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.Module.Report.Client.FinancialOverviewQueryModel"
            }
          },
          {
            "name": "compareDistricts",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/BudgetTracking": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_BudgetTracking",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/ReactiveTotalSpend": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ReactiveTotalSpend",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/RecurringTotalSpend": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_RecurringTotalSpend",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ServiceFrequency": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ServiceFrequency",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/MetricsByMarket": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_MetricsByMarket",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetMetricsByMarket": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetMetricsByMarket",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.JPMCMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportExcelMetricsByMarket": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportExcelMetricsByMarket",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportPdfMetricsByMarket": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportPdfMetricsByMarket",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/MetricsByServiceCode": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_MetricsByServiceCode",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetMetricsByServiceCode": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetMetricsByServiceCode",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.JPMCMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportExcelMetricsByCategory": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportExcelMetricsByCategory",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportPdfMetricsByCategory": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportPdfMetricsByCategory",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/Trends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_Trends",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallCenterTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallCenterTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallsBySubIssueTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallsBySubIssueTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetWorkOrderSatisfactionTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetWorkOrderSatisfactionTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetScheduleAdherenceRLMTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetScheduleAdherenceRLMTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetMilestonesTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetMilestonesTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/MonthlyPropertyFinancialReport": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_MonthlyPropertyFinancialReport",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetMonthlyPropertyFinancialReport": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetMonthlyPropertyFinancialReport",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.MonthlyPropertyFinancialReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetResidentialWoTypes": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetResidentialWoTypes",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/BudgetTrackingBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_BudgetTrackingBI",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetBudgetBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetBudgetBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/TotalSpend": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_TotalSpend",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AveragePerProperty": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AveragePerProperty",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AveragePerWorkOrder": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AveragePerWorkOrder",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/DaysToComplete": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_DaysToComplete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/CallsPerProperty": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_CallsPerProperty",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/woPrint": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_woPrint",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "base64String",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/TrendsToPdf": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_TrendsToPdf",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "base64String",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/Metrics": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_Metrics",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/OpenWoCount": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_OpenWoCount",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/CompletedWoCount": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_CompletedWoCount",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/SmsVendorOpenWoAging": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_SmsVendorOpenWoAging",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/InHouseTechniciansOpenWoAging": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_InHouseTechniciansOpenWoAging",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/OpenWoByPriority": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_OpenWoByPriority",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/CompletedWoByPriority": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_CompletedWoByPriority",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/MetricsByCategory": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_MetricsByCategory",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetMetricsByCategory": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetMetricsByCategory",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialMetricsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportOpenWoListExcel": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportOpenWoListExcel",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialReportWoQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportCompletedWoListExcel": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportCompletedWoListExcel",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialReportWoQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportExcelDynamicPropertyList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportExcelDynamicPropertyList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialReportWoQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportCounty": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportCounty",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportPdfLeaderBoard": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportPdfLeaderBoard",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.LeaderBoardQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportExcelLeaderBoard": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportExcelLeaderBoard",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.LeaderBoardQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/LeaderBoard": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_LeaderBoard",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/LocationsWithThreeOpenReactiveWos": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_LocationsWithThreeOpenReactiveWos",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/LocationsWithThreeOpenReactiveWosBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_LocationsWithThreeOpenReactiveWosBI",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetLocationWithOpenReactiveWoBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetLocationWithOpenReactiveWoBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/AverageWorkOrderStatusAging": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_AverageWorkOrderStatusAging",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetLeaderBoardList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetLeaderBoardList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.LeaderBoardQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/TrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_TrendsBI",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallSourceTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallSourceTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallSourceTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallSourceTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallAssignmentAndAvoidanceTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallAssignmentAndAvoidanceTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCallAssignmentAndAvoidanceTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCallAssignmentAndAvoidanceTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCompletionRatioTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCompletionRatioTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCompletionRatioTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCompletionRatioTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetPostMoveInCallTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetPostMoveInCallTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetPostMoveInCallTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetPostMoveInCallTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetPostMoveInCallTrendByTypeTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetPostMoveInCallTrendByTypeTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetPostMoveInCallTrendByTypeTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetPostMoveInCallTrendByTypeTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetWorkOrderVolumebyMonthTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetWorkOrderVolumebyMonthTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetWorkOrderVolumebyMonthTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetWorkOrderVolumebyMonthTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCostbyVintageTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCostbyVintageTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetCostbyVintageTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetCostbyVintageTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetAverageWorkOrderCostbyTypeTrends": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetAverageWorkOrderCostbyTypeTrends",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.TrendsQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetAverageWorkOrderCostbyTypeTrendsBI": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetAverageWorkOrderCostbyTypeTrendsBI",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/DynamicPropertyList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_DynamicPropertyList",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetDynamicPropertyList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetDynamicPropertyList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.DynamicPropertyListQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/SavingsPerPeriod": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_SavingsPerPeriod",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetSavingsPerPeriod": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetSavingsPerPeriod",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.SavingsPerPeriodQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetSavingsPerPeriodChartData": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetSavingsPerPeriodChartData",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.SavingsPerPeriodQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetSavingsPerPeriodTrendsData": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetSavingsPerPeriodTrendsData",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.SavingsPerPeriodQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/FinancialOverviewByOverall": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_FinancialOverviewByOverall",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/FinancialOverviewByDistrict": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_FinancialOverviewByDistrict",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/FinancialOverviewByRegion": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_FinancialOverviewByRegion",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/FinancialOverviewByStore": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_FinancialOverviewByStore",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/YTDTotalSpend": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_YTDTotalSpend",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/MTDTotalSpend": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_MTDTotalSpend",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.ResidentialAdvReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/Accrual": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_Accrual",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Web.Mvc.ActionResult"
            }
          }
        }
      }
    },
    "/AdvancedReport/GetAccrualReport": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_GetAccrualReport",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/M2.Entity.AccrualReportQueryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Threading.Tasks.Task[System.Web.Mvc.ActionResult]"
            }
          }
        }
      }
    },
    "/AdvancedReport/ExportBudgetWoList": {
      "post": {
        "tags": [
          "AdvancedReport"
        ],
        "operationId": "AdvancedReport_ExportBudgetWoList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
[...]
